<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>805324634304-6keqi9lj1pdp0j79pntt2cvst336i7du.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805324634304-6keqi9lj1pdp0j79pntt2cvst336i7du</string>
	<key>API_KEY</key>
	<string>AIzaSyCx2PxbWOYtruJyC-kePrPTDdtvSnjGE1U</string>
	<key>GCM_SENDER_ID</key>
	<string>805324634304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mafafo</string>
	<key>PROJECT_ID</key>
	<string>gameofchats-47fc9</string>
	<key>STORAGE_BUCKET</key>
	<string>gameofchats-47fc9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805324634304:ios:c58a1c4d9526bc91</string>
	<key>DATABASE_URL</key>
	<string>https://gameofchats-47fc9.firebaseio.com</string>
</dict>
</plist>